.Funcionario {
    width: 280px;
}

.Funcionario .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.Funcionario img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.Funcionario .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.Funcionario .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.Funcionario .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}
.Botao {/* Ajuste no padding para uma aparência melhor */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.Botao:hover { /* Corrigido de :Hover para :hover */
    transform: translateY(-2px);
}